<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.triz.goldenideabox.dao.DisplayConfigMapper">
  <resultMap id="BaseResultMap" type="com.triz.goldenideabox.model.DisplayConfig">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="template_id" jdbcType="INTEGER" property="templateId" />
    <result column="configName" jdbcType="VARCHAR" property="configname" />
    <result column="filter" jdbcType="VARCHAR" property="filter" />
    <result column="left_fixed_sum" jdbcType="INTEGER" property="leftFixedSum" />
    <result column="right_fixed_sum" jdbcType="INTEGER" property="rightFixedSum" />
    <result column="order_list" jdbcType="VARCHAR" property="orderList" />
    <result column="visible_list" jdbcType="VARCHAR" property="visibleList" />
    <result column="page_length" jdbcType="INTEGER" property="pageLength" />
    <result column="search_list" jdbcType="INTEGER" property="searchList" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, template_id, configName, filter, left_fixed_sum, right_fixed_sum, order_list, 
    visible_list, page_length, search_list
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_display_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_display_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.triz.goldenideabox.model.DisplayConfig"  useGeneratedKeys="true" keyProperty="id">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into t_display_config ( user_id, template_id,
    configName, filter, left_fixed_sum,
    right_fixed_sum, order_list, visible_list,
    page_length,search_list)
    values ( #{userId,jdbcType=INTEGER}, #{templateId,jdbcType=INTEGER},
    #{configname,jdbcType=VARCHAR}, #{filter,jdbcType=VARCHAR}, #{leftFixedSum,jdbcType=INTEGER},
    #{rightFixedSum,jdbcType=INTEGER}, #{orderList,jdbcType=VARCHAR}, #{visibleList,jdbcType=VARCHAR},
    #{pageLength,jdbcType=INTEGER}, #{searchList,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.triz.goldenideabox.model.DisplayConfig">
    insert into t_display_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="templateId != null">
        template_id,
      </if>
      <if test="configname != null">
        configName,
      </if>
      <if test="filter != null">
        filter,
      </if>
      <if test="leftFixedSum != null">
        left_fixed_sum,
      </if>
      <if test="rightFixedSum != null">
        right_fixed_sum,
      </if>
      <if test="orderList != null">
        order_list,
      </if>
      <if test="visibleList != null">
        visible_list,
      </if>
      <if test="pageLength != null">
        page_length,
      </if>
      <if test="searchList != null">
        search_list,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="templateId != null">
        #{templateId,jdbcType=INTEGER},
      </if>
      <if test="configname != null">
        #{configname,jdbcType=VARCHAR},
      </if>
      <if test="filter != null">
        #{filter,jdbcType=VARCHAR},
      </if>
      <if test="leftFixedSum != null">
        #{leftFixedSum,jdbcType=INTEGER},
      </if>
      <if test="rightFixedSum != null">
        #{rightFixedSum,jdbcType=INTEGER},
      </if>
      <if test="orderList != null">
        #{orderList,jdbcType=VARCHAR},
      </if>
      <if test="visibleList != null">
        #{visibleList,jdbcType=VARCHAR},
      </if>
      <if test="pageLength != null">
        #{pageLength,jdbcType=INTEGER},
      </if>
      <if test="searchList != null">
        #{searchList,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.triz.goldenideabox.model.DisplayConfig">
    update t_display_config
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="templateId != null">
        template_id = #{templateId,jdbcType=INTEGER},
      </if>
      <if test="configname != null">
        configName = #{configname,jdbcType=VARCHAR},
      </if>
      <if test="filter != null">
        filter = #{filter,jdbcType=VARCHAR},
      </if>
      <if test="leftFixedSum != null">
        left_fixed_sum = #{leftFixedSum,jdbcType=INTEGER},
      </if>
      <if test="rightFixedSum != null">
        right_fixed_sum = #{rightFixedSum,jdbcType=INTEGER},
      </if>
      <if test="orderList != null">
        order_list = #{orderList,jdbcType=VARCHAR},
      </if>
      <if test="visibleList != null">
        visible_list = #{visibleList,jdbcType=VARCHAR},
      </if>
      <if test="pageLength != null">
        page_length = #{pageLength,jdbcType=INTEGER},
      </if>
      <if test="searchList != null">
        search_list = #{searchList,jdbcType=VARCHAR},
      </if>

    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.triz.goldenideabox.model.DisplayConfig">
    update t_display_config
    set user_id = #{userId,jdbcType=INTEGER},
      template_id = #{templateId,jdbcType=INTEGER},
      configName = #{configname,jdbcType=VARCHAR},
      filter = #{filter,jdbcType=VARCHAR},
      left_fixed_sum = #{leftFixedSum,jdbcType=INTEGER},
      right_fixed_sum = #{rightFixedSum,jdbcType=INTEGER},
      order_list = #{orderList,jdbcType=VARCHAR},
      visible_list = #{visibleList,jdbcType=VARCHAR},
      page_length = #{pageLength,jdbcType=INTEGER},
      search_list = #{searchList,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectConfigByID" parameterType="java.lang.Integer" resultMap="BaseResultMap">

    select
    <include refid="Base_Column_List" />
    from t_display_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectConfigByUserID" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_display_config
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
</mapper>