<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.triz.goldenideabox.dao.DocumentMapper">
  <resultMap id="BaseResultMap" type="com.triz.goldenideabox.model.Document">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="patent_id" jdbcType="INTEGER" property="patentId" />
    <result column="category" jdbcType="INTEGER" property="category" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="md5hex" jdbcType="VARCHAR" property="md5hex" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, path, user_id, order_id, patent_id, category, time, md5hex, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_document
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_document
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.triz.goldenideabox.model.Document">
    insert into t_document (id, name, path, 
      user_id, order_id, patent_id, 
      category, time, md5hex, remark
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, 
      #{userId,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{patentId,jdbcType=INTEGER}, 
      #{category,jdbcType=INTEGER}, #{time,jdbcType=TIMESTAMP},  #{md5hex,jdbcType=VARCHAR},
      #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.triz.goldenideabox.model.Document">
    insert into t_document
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="path != null">
        path,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="patentId != null">
        patent_id,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="md5hex != null">
        md5hex,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="patentId != null">
        #{patentId,jdbcType=INTEGER},
      </if>
      <if test="category != null">
        #{category,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="md5hex != null">
        #{md5hex,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.triz.goldenideabox.model.Document">
    update t_document
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="patentId != null">
        patent_id = #{patentId,jdbcType=INTEGER},
      </if>
      <if test="category != null">
        category = #{category,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="md5hex != null">
        md5hex = #{md5hex,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.triz.goldenideabox.model.Document">
    update t_document
    set name = #{name,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=INTEGER},
      patent_id = #{patentId,jdbcType=INTEGER},
      category = #{category,jdbcType=INTEGER},
      time = #{time,jdbcType=TIMESTAMP},
      md5hex = #{md5hex,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectDocumentByID" parameterType="java.lang.Integer" resultMap="BaseResultMap">

    select
    <include refid="Base_Column_List"/>
    from t_document
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="addDocument" parameterType="com.triz.goldenideabox.model.Document"
    useGeneratedKeys="true" keyProperty="id">
    insert into t_document
    <trim prefix="(" suffix=")" suffixOverrides=",">

      <if test="name != null">
        name,
      </if>
      <if test="path != null">
        path,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="patentId != null">
        patent_id,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="md5hex != null">
        md5hex,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">

      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="patentId != null">
        #{patentId,jdbcType=INTEGER},
      </if>
      <if test="category != null">
        #{category,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="md5hex != null">
        #{md5hex,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <delete id="deleteDocumentByID" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    delete from t_document
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <select id="selectDocumentByPatentID" parameterType="java.lang.Integer" resultMap="BaseResultMap">

    select
    <include refid="Base_Column_List"/>
    from t_document
    where patent_id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getDocumentByMd5hex" parameterType="java.lang.String" resultMap="BaseResultMap">

    select
    <include refid="Base_Column_List"/>
    from t_document
    where md5hex = #{id,jdbcType=VARCHAR}
  </select>
</mapper>