<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.triz.goldenideabox.dao.MonitorMapper">
  <resultMap id="BaseResultMap" type="com.triz.goldenideabox.model.Monitor">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="templateID" jdbcType="INTEGER" property="templateid" />
    <result column="patentID" jdbcType="INTEGER" property="patentid" />
    <result column="filed" jdbcType="INTEGER" property="filed" />
    <result column="condition" jdbcType="VARCHAR" property="condition" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type, templateID, patentID, filed, condition, state
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_monitor
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_monitor
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.triz.goldenideabox.model.Monitor">
    insert into t_monitor (id, type, templateID, 
      patentID, filed, condition, 
      state)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{templateid,jdbcType=INTEGER}, 
      #{patentid,jdbcType=INTEGER}, #{filed,jdbcType=INTEGER}, #{condition,jdbcType=VARCHAR}, 
      #{state,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.triz.goldenideabox.model.Monitor">
    insert into t_monitor
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="templateid != null">
        templateID,
      </if>
      <if test="patentid != null">
        patentID,
      </if>
      <if test="filed != null">
        filed,
      </if>
      <if test="condition != null">
        condition,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="templateid != null">
        #{templateid,jdbcType=INTEGER},
      </if>
      <if test="patentid != null">
        #{patentid,jdbcType=INTEGER},
      </if>
      <if test="filed != null">
        #{filed,jdbcType=INTEGER},
      </if>
      <if test="condition != null">
        #{condition,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.triz.goldenideabox.model.Monitor">
    update t_monitor
    <set>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="templateid != null">
        templateID = #{templateid,jdbcType=INTEGER},
      </if>
      <if test="patentid != null">
        patentID = #{patentid,jdbcType=INTEGER},
      </if>
      <if test="filed != null">
        filed = #{filed,jdbcType=INTEGER},
      </if>
      <if test="condition != null">
        condition = #{condition,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.triz.goldenideabox.model.Monitor">
    update t_monitor
    set type = #{type,jdbcType=INTEGER},
      templateID = #{templateid,jdbcType=INTEGER},
      patentID = #{patentid,jdbcType=INTEGER},
      filed = #{filed,jdbcType=INTEGER},
      condition = #{condition,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>