<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.triz.goldenideabox.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="com.triz.goldenideabox.model.Order">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="applicant_id" jdbcType="VARCHAR" property="applicantId" />
    <result column="agent_id" jdbcType="VARCHAR" property="agentId" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="contact_phone" jdbcType="INTEGER" property="contactPhone" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="district" jdbcType="VARCHAR" property="district" />
    <result column="detail_address" jdbcType="VARCHAR" property="detailAddress" />
    <result column="tech_name" jdbcType="VARCHAR" property="techName" />
    <result column="order_num" jdbcType="VARCHAR" property="orderNum" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="state" jdbcType="VARCHAR" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    id, applicant_id, agent_id, contact, contact_phone, province, city, district, detail_address, 
    tech_name, order_num, time, state
  </sql>
  <select id="selectAppointOrder"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_order
    where id not in (select order_id from t_patent where order_id is not null)
  </select>
  <select id="selectOrderIDNoPatent"  resultType="java.util.List">
    select
    id
    from t_order
    where id not in (select order_id from t_patent where order_id is not null)
  </select>
  <select id="selectClaimOrder" parameterType="java.lang.Integer"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_order
    where id in (select order_id from t_patent where order_id is not null and creator = #{userID,jdbcType=INTEGER} and template_id is null)
  </select>
  <insert id="insertSelective" parameterType="com.triz.goldenideabox.model.Order">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into t_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="applicantId != null">
        applicant_id,
      </if>
      <if test="agentId != null">
        agent_id,
      </if>
      <if test="contact != null">
        contact,
      </if>
      <if test="contactPhone != null">
        contact_phone,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="district != null">
        district,
      </if>
      <if test="detailAddress != null">
        detail_address,
      </if>
      <if test="techName != null">
        tech_name,
      </if>
      <if test="orderNum != null">
        order_num,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="applicantId != null">
        #{applicantId,jdbcType=VARCHAR},
      </if>
      <if test="agentId != null">
        #{agentId,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null">
        #{contactPhone,jdbcType=INTEGER},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null">
        #{district,jdbcType=VARCHAR},
      </if>
      <if test="detailAddress != null">
        #{detailAddress,jdbcType=VARCHAR},
      </if>
      <if test="techName != null">
        #{techName,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null">
        #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>