<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.triz.goldenideabox.dao.PatentPropertyMapper">
  <resultMap id="BaseResultMap" type="com.triz.goldenideabox.model.PatentProperty">
    <result column="patent_id" jdbcType="INTEGER" property="patentId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="sort_id" jdbcType="INTEGER" property="sortId" />
  </resultMap>
  <insert id="insert" parameterType="com.triz.goldenideabox.model.PatentProperty">
    insert into t_patent_property (patent_id, name, value, 
      sort_id)
    values (#{patentId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR}, 
      #{sortId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.triz.goldenideabox.model.PatentProperty">
    insert into t_patent_property
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="patentId != null">
        patent_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="value != null">
        value,
      </if>
      <if test="sortId != null">
        sort_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="patentId != null">
        #{patentId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="sortId != null">
        #{sortId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <insert id="editFileProperty" parameterType="com.triz.goldenideabox.model.PatentProperty">

    insert into t_patent_property (patent_id, value, sort_id)
    values
      (#{patentId,jdbcType=INTEGER}, #{value,jdbcType=VARCHAR}, #{sortId,jdbcType=INTEGER})
    on DUPLICATE key update
      value = CONCAT(value, #{value,jdbcType=VARCHAR});
  </insert>
  <update id="deleteFileProperty" parameterType="com.triz.goldenideabox.model.PatentProperty">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update t_patent_property
    set value = replace(value,#{value,jdbcType=VARCHAR},'')
    where patent_id = #{patentId,jdbcType=INTEGER} and sort_id = #{sortId,jdbcType=INTEGER}
  </update>
  <insert id="editProperty" parameterType="com.triz.goldenideabox.model.PatentProperty">

    insert into t_patent_property (patent_id, value, sort_id)
    values
      (#{patentId,jdbcType=INTEGER}, #{value,jdbcType=VARCHAR}, #{sortId,jdbcType=INTEGER})
    on DUPLICATE key update
      value = #{value,jdbcType=VARCHAR};
  </insert>
  <select id="getProperty" parameterType="java.lang.Integer" resultType="java.util.HashMap">
    select
    sort_id,value
    from t_patent_property
    where patent_id = #{id,jdbcType=INTEGER} order by sort_id
  </select>
  <select id="getPropertyName" parameterType="java.lang.Integer" resultType="java.lang.String">
    select ttp. name as name from t_patent tp
      left join t_template_property ttp on tp.template_id = ttp.template_id and ttp.sort_id = #{sortId,jdbcType=INTEGER}
    where tp.id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getPropertyValue" parameterType="java.lang.Integer" resultType="java.lang.String">
    select ttp.value from t_patent tp
      left join t_template_property ttp on tp.template_id = ttp.template_id and ttp.sort_id = #{sortId,jdbcType=INTEGER}
    where tp.id = #{id,jdbcType=INTEGER}
  </select>
</mapper>