<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.triz.goldenideabox.dao.TemplateMapper">
  <resultMap id="BaseResultMap" type="com.triz.goldenideabox.model.Template">
    <id column="t_id" jdbcType="INTEGER" property="id" />
    <result column="t_name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="t_state" jdbcType="INTEGER" property="state" />
    <result column="time" jdbcType="DATE" property="time" />
    <association property="creator" column="creator" javaType="com.triz.goldenideabox.model.User">
      <id column="u_id" jdbcType="INTEGER" property="id" />
      <result column="account" jdbcType="VARCHAR" property="account" />
      <result column="password" jdbcType="VARCHAR" property="password" />
      <result column="u_name" jdbcType="VARCHAR" property="name" />
      <result column="sex" jdbcType="INTEGER" property="sex" />
      <result column="phone" jdbcType="VARCHAR" property="phone" />
      <result column="email" jdbcType="VARCHAR" property="email" />
      <result column="wechat" jdbcType="VARCHAR" property="wechat" />
      <result column="introduction" jdbcType="VARCHAR" property="introduction" />
      <result column="u_state" jdbcType="INTEGER" property="state" />
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    id, name, description, state, creator, time
  </sql>
  <select id="selectAllTemplate"  resultMap="BaseResultMap">

    select
    t.id t_id, t.name t_name, t.description description, t.state t_state,  t.time time,
    u.id u_id, u.account account, u.password password,
    u.name u_name, u.sex sex, u.phone phone, u.email email, u.wechat wechat, u.introduction introduction, u.state u_state
    from t_template t,t_user u where t.creator=u.id
  </select>
  <delete id="deleteByTemplateID" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    delete from t_template
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <update id="changeTemplateState" parameterType="java.lang.Integer">

    update t_template
    <set>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insertTemplate" parameterType="com.triz.goldenideabox.model.Template" useGeneratedKeys="true" keyProperty="id">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into t_template (name, description,creator, state, time)
    values
    (
    #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR},#{creator.id,jdbcType=INTEGER},
    #{state,jdbcType=INTEGER}, #{time,jdbcType=DATE}
    )

  </insert>
  <select id="getTemplate"  parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    t.id t_id, t.name t_name, t.description description, t.state t_state,  t.time time,
    u.id u_id, u.account account, u.password password,
    u.name u_name, u.sex sex, u.phone phone, u.email email, u.wechat wechat, u.introduction introduction, u.state u_state
    from t_template t,t_user u where t.creator=u.id and t.id = #{id,jdbcType=INTEGER}
  </select>
  <update id="updateTemplate" parameterType="com.triz.goldenideabox.model.Template">
    update t_template
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectReviewTemplateByUser" parameterType="java.lang.Integer"  resultMap="BaseResultMap">
    select id t_id, name t_name,  description from t_template where creator = #{userID,jdbcType=INTEGER} and state = 2 union
    select
    t.id t_id, t.name t_name, t.description description
    from t_template t left join t_template_user tu on t.id = tu.template_id where  tu.user_id = #{userID,jdbcType=INTEGER} and t.state = 2
  </select>
  <select id="selectTemplateByUser" parameterType="java.lang.Integer"  resultMap="BaseResultMap">

    select
    t.id t_id, t.name t_name, t.description description, t.state t_state,  t.time time,
    u.id u_id, u.account account, u.password password,
    u.name u_name, u.sex sex, u.phone phone, u.email email, u.wechat wechat, u.introduction introduction, u.state u_state
    from t_template t,t_user u  where t.creator=u.id and t.creator=#{userID,jdbcType=INTEGER}
    <if test="review == false">
      and t.state != 1
    </if>

  </select>
</mapper>